@model Category
@{
    ViewBag.Title = "分类详情";
    ViewBag.FirstTab = "分类管理";
    ViewBag.SecondTab = "分类列表";
    Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <fieldset>
        <legend></legend>
    </fieldset>
</div>
