@model VoteWeb.ViewModels.Admin.SearchListViewModel
@{
    ViewBag.Title = "搜索结果";
    ViewBag.FirstTab = "搜索管理";
    ViewBag.SecondTab = "搜索结果";
    Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h3>搜索结果页面</h3>