@{
    ViewData["Title"] = "首页";
}
@model HomeIndexViewModel
<!--main start-->
        <div>
            <!--rank start-->
            <div class="col-md-2">
                    <h4><span class="fa fa-flag"></span>前10名</h4>
                <ul class="list-group">
                    @{
                        var i=1;
                        foreach(Picture item in Model.Top10Pictures)
                        {
                            
                            <li class="list-group-item">
                                <a asp-action="Detail" asp-controller="Home" asp-route-PictureID="@item.PictureID">排名第@(i++)的作品
                                    <span class="badge pull-right">@item.Votes</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <!--rank end-->
            <!--content start-->
            <div class="col-md-10">
                @foreach (Picture item in Model.Pictures)
                {
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="margin: 0">
                        <div class="thumbnail">
                            <a asp-action="Detail" asp-controller="Home" asp-route-PictureID="@item.PictureID">
                                <img src="/upload/@(item.AuthorID)/@(item.PictureURL)" alt="图片加载中" class="img-rounded" style="width: 180px;height: 230px;" />
                            </a>
                        </div>
                        <div class="caption">
                            <a href="javascript:;" class="text-center">
                                <p>@item.Title</p>
                            </a>
                        </div>
                    </div>
                }
                <!--pager start-->
                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">首页</a></li>
                        <li><a href="#">上一页</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="javascript:;">...</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">下一页</a></li>
                        <li><a href="#">末页</a></li>
                    </ul>
                </div>
                 <!--pager end-->
            </div>
            <!--content end-->
        </div>
        <!--main start-->
