@model Picture
@{
    ViewBag.Title = "作品详情";
    ViewBag.FirstTab = "作品管理";
    ViewBag.SecondTab = "作品列表";
    ViewBag.ThirdTab = "作品详情";
    Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <fieldset>
        <legend></legend>
    </fieldset>
</div>
